:root {
  --selected-item-clr: #c73a0f;
  --icon-green-clr: 	#1ea475;
  --body-bg-clr: #fcf9f7;
  --mystery-pink:	#f4edeb; /*Unclear where this goes*/
  --light-text-clr: 	#c9aea6; /*Possibly category color*/
  --medium-text-clr: #ad8985; /*Possibly text in cart, or subtitle of Order Confirmed page, border of Add to Cart*/
  --dark-text-clr: 	#260f08;
}

img {
  width: 100%;
}


body {
  /*background-color: var(--body-bg-clr);*/
  color: var(--dark-text-clr);
  font-family: "Red Hat Text", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  padding-bottom: 2rem;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
